# /etc/docker-env is a dump of the environment made at entrypoint.sh, required as
40 5 * * * env - `cat /etc/docker-env` /workdir/certbot-agent certs:update $KONG_ENDPOINT $EMAIL $DOMAINS  > /var/log/kong-certbot-agent/cert-update.log 2>&1
