<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="reports/phpunit/coverage.xml"/>
      <html outputDirectory="reports/phpunit" lowUpperBound="85" highLowerBound="90"/>
      <xml outputDirectory="reports/infection/coverage-xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="all">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <!-- Reports -->
  <logging>
    <!-- For infection -->
    <junit outputFile="reports/infection/junit.xml"/>
  </logging>
</phpunit>
